<header class="header" role="banner">
    <div class="header__inner">
        {# <a href="/" title="some.d00d.blog" class="header__site-title"> #}
            {# some.d00d.blog #}
            <img src="/assets/images/upsidedownface.png" alt="Upside down face" class="title-image" />
        {# </a> #}
    </div>
</header>