<header class="header" role="banner">
    <div class="header__inner">
        <a href="/" title="some.d00d.blog" class="header__site-title">
            some.d00d.blog
        </a>
    </div>
</header>