<ol reversed class="posts-list" style="counter-reset: start-from {{ (postslistCounter or thoughtslist.length) + 1 }}">
{% for post in postslist | reverse %}
  <li class="posts-list-item{% if though.url == url %} postlist-item-active{% endif %}">
    <div class="posts-list-date-time">
      <a href="{{ post.url | url }}" class="posts-list-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    </div>
    <div class="posts-list-excerpt">
      {% excerpt post %}
    </div>
  </li>
{% endfor %}
</ol>