<ol reversed class="tags-list" style="counter-reset: start-from {{ (postslistCounter or thoughtslist.length) + 1 }}">
{% for post in postslist | reverse %}
  <li class="tags-list-item{% if though.url == url %} postlist-item-active{% endif %}">
    <div class="tags-list-date-time">
      <a href="{{ post.url | url }}" class="tags-list-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
      <time class="tags-list-date" datetime="{{ post.date | dateToISO(thought.date) }}">{{ post.date | dateToRelative() }}</time>
    {# {% for tag in post.data.tags | filterTagList %}
      {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
    {% endfor %} #}
    </div>
    <div class="tags-list-excerpt">
      {% excerpt post %}
    </div>
    {# <div class="tags-list-read-more">
      <a href="{{ post.url | url}}" class="read-more-link" title="Read more">Read more</a>
    </div> #}
  </li>
{% endfor %}
</ol>