<ol reversed class="thoughtlist" style="counter-reset: start-from {{ (thoughtslistCounter or thoughtslist.length) + 1 }}">
{% for thought in thoughtslist | reverse %}
  <li class="thoughtlist-item{% if though.url == url %} thoughtlist-item-active{% endif %}">
    <div class="thoughtlist-date-time">
      <a href="{{ thought.url | url }}" class="thoughtlist-link">{% if thought.data.title %}{{ thought.data.title }}{% else %}<code>{{ thought.url }}</code>{% endif %}</a>
      {# <time class="thoughtlist-date" datetime="{{ thought.date | dateToISO(thought.date) }}">{{ thought.date | dateToRelative() }}</time> #}
    </div>
    <div class="thoughtlist-excerpt">
      {% excerpt thought %}
    </div>
    <div class="thoughtlist-read-more">
      <a href="{{ thought.url | url}}" class="read-more-link" title="Read more">Read more</a>
    </div>
  </li>
{% endfor %}
</ol>