.header {
    .header__inner {
        .header__site-title {
            text-decoration: none;
            font-family: $font-family-monospace;
            color: $gray-900;
            font-weight: 600;
            font-size: $step-4;
            padding: $space-s;
        }
        img {
            height: 75px;
            width: 75px;
            animation: float 8s ease-in-out infinite;
        }
    }
}

@keyframes float {
    50% {
        filter: drop-shadow(2px 2px 8px rgba(0,0,0, 0.5));
        // box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translateY(-20%);
    }
}