---
layout: layouts/home.njk
---
{# 
{% include 'components/quotesBox.njk' %}

{% set maxPosts = collections.posts.length | min(3) %}
<h1 class="thoughts-heading">{{ maxPosts }} thoughts</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include 'components/postslist.njk' %} #}

<div style="height: 1000px">
Haha
</div>