.thought-page__title {
    color: $sdb-color-primary;
    font-family: 'Lobster';
    font-size: $step-3;
    margin: $space-m 0;
}

.thought-page__date {
    color: $color-text-200;
    font-size: $step--2;
    font-family: $font-family-monospace;
    margin-bottom: $space-s;
}

hr {
    border: none;
    background: $gray-200;
    height: 1px;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.next-thought {
    list-style: none;

    li {
        margin: $space-m 0;
        font-family: $font-family-monospace;
        font-weight: 400;
        color: $color-text-200;
        a {
            font-family: $font-family-sans-serif !important;
            font-weight: 600;
            text-underline-offset: 7px;
            &:hover {
                text-decoration-style: solid;
            }
        }
    }
}

.thought-content {
    max-width: 65ch;

    .quote {
        margin-top: 5rem;
        p {
            color: $sdb-color-primary;
            display: inline;
            margin-right: 0.5rem;
            font-style: italic;
            font-weight: 500;
            font-family: serif;
        }

        span {
            display: inline;
            color: $color-text-100;
        }
    }
    p {
        font-size: $step-0;
        margin-bottom: $space-l;
        line-height: 1.7;
    }

    h2 {
        color: $sdb-color-primary;
        margin-bottom: $space-m;
        font-size: $step-2;
    }

    strong {
        color: $sdb-color-primary-darker;
    }

    img {
        object-fit: cover;
        aspect-ratio: 1/1;
        width: 100%;
        max-height: 600px;
        margin-top: $space-s;
        border-radius: 4px;
    }

    .caption {
        color: $sdb-color-secondary-darker;
        font-family: $font-family-monospace;
        font-size: $step--2;
        margin-bottom: $space-l;
        text-align: center;
    }

    a {
        color: $sdb-color-secondary;
        text-underline-offset: 4px;
    }

    blockquote {
        background-color: #eef2ff;
        padding: $space-m;
        margin-bottom: $space-l;
        border-radius: 4px;
        p {
            margin-bottom: 0;
            color: $sdb-color-secondary-darker !important;
            // font-family: $font-family-monospace !important;
            font-family: serif !important;
            line-height: 1.6 !important;
            font-size: $step--2 !important;
        }
    }

    ul {
        li {
            &::marker {
                color: $sdb-color-secondary-darker;
            }
        }
        margin-bottom: $space-xl;
    }
}