@import 'the-nav.css';
@import 'the-post-list.css';
@import './components/quotes-box.css';
@import 'colors.css';

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}