---
layout: home
---

<div class="container">
    {# Thoughts #}
    {% set maxThoughts = collections.thoughts.length | min(3) %}
    <div class="thoughts-list__header">
        <h1 class="thoughts-list__title">{% if maxThoughts == 1 %}thought{% else %}{{ maxThoughts}} thoughts{% endif %}</h1>
    </div>
    {% set thoughtslist = collections.thoughts | head(-3) %}
    {% set thoughtslistCounter = collections.thoughts | length %}
    {% include "thoughtslist.njk" %}
    <a href="/thoughts" title="More thoughts" class="thoughts-list__more-link">
        <span>
            All thoughts
        </span>
        &nbsp;
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"/></svg>
    </a>

    {# Posts #}
    {% set maxPosts = collections.posts.length | min(3) %}
    <div class="posts-list__header">
        <h1 class="posts-list__title">{% if maxPosts == 1 %}{{maxPosts }} post{% else %}{{ maxPosts }} posts{% endif %}</h1>
    </div>

    {% set postslist = collections.posts | head(-3) %}
    {% set postslistCounter = collections.posts | length %}
    {% include "postslist.njk" %}
 
    <a href="/posts" title="More thoughts" class="posts-list__more-link">
        <span>
            All posts
        </span>
        &nbsp;
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"/></svg>
    </a>
    
    {# Books #}
    {% set maxBooks = collections.books.length | min(3) %}
    <div class="books-list__header">
        <h1 class="books-list__title">{% if maxBooks == 1 %}{{maxBooks}} book{% else %}{{ maxBooks}} books{% endif %}</h1>
    </div>

    {% set bookslist = collections.books | head(-3) %}
    {% set bookslistCounter = collections.books | length %}
    {% include "bookslist.njk" %}

    <a href="/books" title="More thoughts" class="books-list__more-link">
        <span>
            All books
        </span>
        &nbsp;
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"/></svg>
    </a>
</div>