<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    {# Google Fonts #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&family=Varela+Round&family=Zilla+Slab&display=swap" rel="stylesheet">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <script type="module">
      document
        .documentElement
        .classList
        .remove('no-js');
      document
        .documentElement
        .classList
        .add('js');
    </script>
    <link rel="stylesheet" href="/css/main.css">
    <meta name="description" content="Personal blog of @just_some_d00d">
    <meta property="og:title" content="some.d00d.blog">
    <meta property="og:description" content="Personal blog of @just_some_d00d">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:url" content="https://some.d00d.blog">
    <link
    rel="canonical" href="https://some.d00d.blog">
    <meta name="theme-color" content="#6366f1">
    <script src="/scripts/quotes.js" defer></script>
    <script defer data-domain="some.d00d.blog" src="https://plausible.io/js/plausible.js"></script>
  </head>

<!--

       .o.                         .o8             .o     .oooo.   
     .888.                       "888           .d88   .dP""Y88b  
    .8"888.     ooo. .oo.    .oooo888         .d'888         ]8P' 
   .8' `888.    `888P"Y88b  d88' `888       .d'  888       .d8P'  
  .88ooo8888.    888   888  888   888       88ooo888oo   .dP'     
 .8'     `888.   888   888  888   888            888   .oP     .o 
o88o     o8888o o888o o888o `Y8bod88P"          o888o  8888888888 

 -->

  <body>
      {% include 'components/nav.njk' %}
    <main>
    {{ content | safe }}
    </main>
    {# {% include 'components/the-footer.njk' %} #}
  </body>
</html>