---
layout: base
templateClass: tmpl-thought
---
<a href="javascript:window.history.back();" class="thought-page__back-button">
  <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M7.828 11H20v2H7.828l5.364 5.364-1.414 1.414L4 12l7.778-7.778 1.414 1.414z"/></svg>
  &nbsp;&nbsp;Back
</a>

<h1 class="thought-page__title">{{ title }}</h1>

<time class="thought-page__date" datetime="{{ page.date | dateToISO() }}">{{ page.date | dateToFormat('MMMM dd, yyyy') }}</time>
{# {%- for tag in tags | filterPostsTagList -%}
{%- set tagUrl %}/posts-tags/{{ tag | slug }}/{% endset -%}
<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{%- endfor %} #}
<div class="thought-content">
  {{ content | safe }}
</div>

{%- if collections.thoughts %}
{%- set nextThought = collections.thoughts | getNextCollectionItem(page) %}
{%- set previousThought = collections.thoughts | getPreviousCollectionItem(page) %}
{%- if nextThought or previousThought %}
<hr>
<ul>
  {%- if nextThought %}<li>Next: <a href="{{ nextThought.url | url }}">{{ nextThought.data.title }}</a></li>{% endif %}
  {%- if previousThought %}<li>Previous: <a href="{{ previousThought.url | url }}">{{ previousThought.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}